    body {
      padding: 0;
      margin: 0;
      background: #fff;
      font-family: "My Custom Font"
    }
    .header {
      background-image: url('img/bg.png');
      background-position: bottom center;
      position: relative;
      
    }






      


.logo {
	margin: 40px auto;
}
    .description {
	max-width: 670px;
	margin: 0 auto;
      text-align: center;
    }
    .description h1 {
		font-size: 60px;
		font-weight: 800;
		line-height: 60px;
      color: #fff;
    }
    .description p {
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      line-height: 27px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    
    .inputbox {
	max-width: 450px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.inputemail {
	float: left;
	background: #fff;
	height: 50px;
	border: 0px;
	padding-left: 20px;
	border-radius: 2px 0px 0px 2px;
	font-size: 16px;
	font-family: "My Custom Font";
	width: 60%;
}
.inputbutton {
	float: right;
	background: #263731;
	height: 50px;
	border: 0px;
	padding: 0 30px;
	border-radius: 0px 2px 2px 0px;
	font-size: 16px;
	font-family: "My Custom Font";
	color: #fff;
	width: 40%;
}
.inputbutton:hover {
	background: #000;}
	
.smalltext {
		padding-top: 30px;
		padding-bottom: 20px;
      color: #fff;
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      margin: 0;
    }	

.graphic {
	
	margin: 0 auto;
	padding: 0px;
}
    
    
    
    
    .col-lg-4 {
	margin: 0 0 20px 0;
}
    .features {
      margin: 0 auto;
      padding: 1em;
      position: relative;
      text-align: center;
      max-width: 920px;
    }
    .feature-title {
      color: #111;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
      
    }
    .features img {
      margin-bottom: 16px;
    }
    
    .row p {
	color: #686868;
	line-height: 22px;
}
.testimonials {
	background-image: url('img/testimonial.png');
	background-position: top center;
	background-repeat: no-repeat;
	padding: 70px 0 0;
	margin: 20px 0 0;
	text-align: center;
}
.testimonials-text {
	max-width: 670px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
	color: #111;
}
.testimonials-author {
	font-size: 18px;
	color: #111;
	font-weight: bold;
	margin-top: 40px;
}
.testimonials-position {
	font-size: 16px;
	color: #686868;
	font-weight: normal;
}
.testimonials button {
	
    background:#1eb17d;
    border: 0px;
    border-radius: 2px;
    color:#fff;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    margin-top: 40px;
    padding: 0 65px;
}
.testimonials button:hover {
	
    background:#119365;
  
}
    .page-footer {
      color: #ccc;
      padding: 30px 0 30px 0;
    }
    .footer-copyright {
      color: #1eb17d;
      font-size: 14px;
    }
    .footer-copyright a {
	color: #1eb17d;
	text-decoration: none;
}
.footer-copyright a:hover {
	color: #119365;
	text-decoration: underline;
}


@font-face {
    font-family: "My Custom Font"; 
    src: url(CustomFont.otf) format("truetype");
}




@media only screen and (max-width: 670px) {


	.logo {
	margin: 20px auto;
}
	.description {
	padding: 0 15px;
    }
    .description h1 {
		font-size: 45px;
		line-height: 45px;
    }
    .description p {
      font-size: 16px;
      line-height: 24px;

    }
}




@media only screen and (max-width: 470px) {


	.logo {
	width: 98px;
	height: 25px;
}
.inputemail {
	

	width: 100%;
	margin-bottom: 10px;
	border-radius: 2px;
}
.inputbutton {

	width: 100%;
	margin-bottom: 15px;
	border-radius: 2px;
}
.graphic {
	width: 320px;
	height: 184px;
}

}










